header
    position: relatative
nav
    height: 43px
    background-color: black
    position: fixed
    top: 0
    width: 100%
.nav__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 12px
.nav__item
    font-size: 16px
    font-weight: 400
    text-transform: uppercase
    color: white
    position: relative
    cursor: pointer
    &:after
        content: ''
        display: block
        position: absolute
        width: 2px
        height: 16px
        background-color: #fff
        right: -70px
        top: 2px
    &:nth-child(3)
        &:after
            display: none
.promo
    height: 110px
    background-color: #fff
    &__title
        color: #000000;
        font-size: 27px;
        font-weight: 400;
        margin-top: 45px
        margin-left: 105px
        text-align: center
        line-height: 30px
        span
            font-weight: 700
    &__logo
        width: 140px;
        height: 116px;
        background-color: #da2020;  
        display: flex
        justify-content: center
        align-items: center
        font-family: 'Chelsea Market', cursive;
        font-size: 24px

    
        
        